\documentclass[a4paper,10pt]{amsart}

\usepackage[utf8]{inputenc}
\usepackage{lmodern}
\usepackage{fontspec}
\usepackage{microtype}

% \usepackage[parfill]{parskip}
\usepackage[dvipsnames]{xcolor}
\usepackage{amsmath}
\usepackage{amsfonts}
\usepackage{amssymb}
\usepackage{siunitx}
\DeclareSIUnit\year{yr}
\DeclareSIUnit\foot{ft}
\DeclareSIUnit\litre{\liter}

\usepackage{lastpage}

\usepackage{pgfplots}
\usepackage{graphicx}
\usepackage{gensymb}
\usepackage{commath}
\usepackage{hyperref}
\usepackage{enumitem}
\usepackage{wasysym}
\usepackage{multicol}
\usepackage{mathtools}
\usepackage[version=4]{mhchem}
\usepackage{listings}
\lstset{basicstyle=\ttfamily\linespread{0.8}\small}

\renewcommand*{\thefootnote}{\fnsymbol{footnote}}


\newcommand{\union}{\cup}
\newcommand{\inter}{\cap}
\DeclarePairedDelimiter\aabs{\lVert}{\rVert}%
\newcommand{\R}{\mathbb{R}}
\newcommand{\Z}{\mathbb{Z}}
\newcommand{\Q}{\mathbb{Q}}
\newcommand{\N}{\mathbb{N}}

\DeclareMathOperator{\cl}{cl}
\DeclareMathOperator{\diam}{diam}
\DeclareMathOperator{\Lim}{Lim}

% russian integral
\usepackage{scalerel}
\DeclareMathOperator*{\rint}{\scalerel*{\rotatebox{17}{$\!\int\!$}}{\int}}

\newtheorem*{thm}{Theorem}
\newtheorem*{iden}{Identity}
\newtheorem*{lemma}{Lemma}
\newtheorem*{prp}{Proposition}
\newtheorem*{obs}{Observation}
\newtheorem*{claim}{Claim}
\theoremstyle{definition}
\newtheorem*{defn}{Definition}
\newtheorem*{ex}{Example}
\newtheorem*{con}{Construction}
\newtheorem*{alg}{Algorithm}
\newtheorem*{exercise}{Exercise}

\usepackage{fancyhdr}
\pagestyle{fancy}

\lhead{ {{Buc_author}}\\(ID {{template.studentid}}) }
\chead{ {{template.course}}, {{template.semester}} }
\rhead{Assignment {{template.asstno}}}
\cfoot{Page \thepage}

\author{ {{Buc_author}}\\ {{template.studentid}} \quad {{template.upi}}\\{{template.course}} }
\date{Due on {{template.duedate}} }
\title{Assignment {{template.asstno}} }

\begin{document}

\maketitle

{{{content}}}

\end{document}
