{%extends "base.html" %}
{% set page_title = "Viewing article " ~ article_name %}
{% set nologo = 1 %}
{% block content %}
<h2>File viewer</h2>
<table id="fileInfo">
  <colgroup>
    <col span="1" style="width:12%;">
    <col span="1" >
    <col span="1" style="width:12%;">
    <col span="1" style="width:25%">
  </colgroup>
  <tbody>
    <tr><th>Filename:</th><td>{{article_name}}</td>
        <th>Author:</th><td>{{article_author}}</td></tr>
    <tr><th>Tags:</th><td colspan="3">{% for tag in tags -%}<a href="{{tag.loc}}">{{tag.name|safe}}</a>&nbsp; {%- endfor %}</td></tr>
    <tr><th>Created:</th><td>{{article_timestamp}}</td>
    {%if article_modded is not none %}<th style='text-align:right;'>Modified:</th><td>{{article_modded}}</td>{% endif %}</tr>
    <tr><th>Edit file:</th><td><a href="{{article_edit}}">Edit</a></td>
        <th>As PDF:</th><td><a href="{{article_pdf}}">PDF</a></td></tr>
  </tbody>
</table>

{{html_text|safe}}

{% endblock %}
