{%extends "base.html" %}
{% set page_title = "Viewing article " ~ article_name %}
{% set nologo = 1 %}
{% block content %}
  <h2>File viewer</h2>
  <table>
    <tr><th style='text-align:right;'>Filename:</th><td>{{article_name}}</td></tr>
    <tr><th style='text-align:right;'>Title:</th><td>{{article_title}}</td></tr>
    <tr><th style='text-align:right;'>Modified:</th><td>{{article_timestamp}}</td></tr>
    <tr><th style='text-align:right;'>Tags:</th><td>{% for tag in tags -%}<a href="{{tag.loc}}">{{tag.name}}</a> {%- endfor %}</td></tr>
    <tr><th style='text-align:right;'>Raw file:</th><td><a href="{{article_raw}}">Download</a></td></tr>
    {%if article_src is defined%}<tr><th style='text-align:right;'>Source:</th><td><a href="{{article_src}}">Download</a></td></tr>{% endif %}
  </table>
  <div style="left: 0; right: 0; bottom: 0; height:100%"><iframe src="{{article_raw}}" style="display: block; width:100%; height: 100%;"></iframe></div>
</main>
{% endblock %}
