<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page_title is defined%}{{page_title}} | {%endif%}Bucephalus</title>
    <meta name="description" content="Bucephalus is a document repository.">
    <link rel="icon" type="image/ico" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

    {% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
      {% if nologo is not defined%}<a href="/static/logo.jpg"><img src="/static/bucephalus.jpg" alt="A horse."/></a>{% endif%}
      <h1 style="">{% if page_title is defined%}{{page_title}}{%else%}Bucephalus{%endif%}</h1>
      {% if breadcrumbs is defined%} Currently in:
        {% for breadcrumb in breadcrumbs %}
          {% if breadcrumb.current is defined %}
            <b class="breadcrumb">{{breadcrumb.name}}</b>
          {% else %}
            <a class="breadcrumb" href="{{breadcrumb.loc}}">{{breadcrumb.name}}</a> &#8617;
          {% endif %}
        {% endfor %}
      {%endif%}
      {% if prev is defined %}
            &#8668; <a class="prevnext" href="{{prev.loc}}">{{prev.name}}</a>
      {% endif %}
      {% if next is defined %}
            <a class="prevnext" href="{{next.loc}}">{{next.name}}</a> &#8669;
      {% endif %}
      {%endblock%}
    </header>
    <main>
    {%block content%}{% endblock %}
    </main>
    <footer>
    {%block footer%}
      <span><a href="/">Return home.</a></span>
      <p class="notes">{{ viewernotes|safe }}</p>
    {%endblock %}
    </footer>
  </body>
</html>
