{%extends "base.html" %}
{% set page_title = "Error: "+ error.desc %}
{% block content %}
  <h2>{{error.code}}: {{error.desc}}</h2>
  <p>{{error.long}}</p>
  <p><a href="https://www.youtube.com/watch?v=8VvB_UmmIzk">(Think calm thoughts.)</a></p>
  {% if error.code == 418 %}
  <a href="https://xkcd.com/1743/"><img src="https://imgs.xkcd.com/comics/coffee.png"/></a>
  {% else %}
  <a href="https://xkcd.com/1024/"><img src="https://imgs.xkcd.com/comics/error_code.png"/></a>
  {% endif %}
{% endblock %}
