{% extends "base.html" %}
{% block content %}
This is the entry point for the <a href="https://github.com/aelzenaar/bucephalus">Bucephalus</a> document repository. No, it is not as pretty as sites I've
made in the past, it's quick and functional and the text is in a serif font.

<h2>Things you can do</h2>
<ul>
  <li><a href="/v/page">Gaze upon the root directory.</a></li>
  <li><a href="/v/time">View by date.</a></li>
  <li><a href="/v/recent">Contemplate by recentness.</a></li>
  <li><a href="/v/tag">Peruse by tag.</a></li>
  <li><a href="/v/chain">Study a chain.</a></li>
  <li><a href="/v/grep">Examine by searching.</a></li>
<!--   <li><a href="/v/raw">Behold by ID.</a></li> -->
  <li><a href="/v/tasks">Inspect task list.</a></li>
</ul>

{% if pinned is not none %}
<h2>Pinned article</h2>
The following article has been pinned: <a href="{{pinned.loc}}">{{pinned.name}}</a>
{% endif %}

{% if randomse is not none %}
<h2>Random thing from StackExchange</h2>
<h3>{{ randomse.qtitle }}</h3>
{{randomse.qbody|safe}}
<h3>Answer (score {{randomse.ascore}})</h3>
{{randomse.abody|safe}}


<p>Links: <a href="{{ randomse.qlink }}">question</a>&nbsp;<a href="{{randomse.alink}}">answer</a>
<p>API quota remaining: {{randomse.quota}}
{% endif %}

{% endblock %}
{% block footer %}
  {{timestamp}}
{% endblock %}
