\documentclass[a4paper,10pt]{amsart}

\usepackage[english]{babel}
\usepackage[autostyle, english=british]{csquotes}
\usepackage[dvipsnames]{xcolor}
\usepackage{amsmath}
\usepackage{commath}
\usepackage{amssymb}
\usepackage{gensymb}
\usepackage{amsthm}
\usepackage{microtype}
\usepackage{lmodern}
\usepackage{adjustbox}
\usepackage[hidelinks]{hyperref}
\usepackage[parfill]{parskip}
\usepackage{mathtools}
\usepackage{fontspec}

\usepackage{tikz}

\renewcommand*{\thefootnote}{\fnsymbol{footnote}}
\DeclarePairedDelimiter\floor{\lfloor}{\rfloor}
\newcommand{\union}[1]{\cup{#1}}
\newcommand{\inter}[1]{\cap{#1}}
\newcommand{\R}{\mathbb{R}}
\newcommand{\Z}{\mathbb{Z}}
\newcommand{\Q}{\mathbb{Q}}
\newcommand{\N}{\mathbb{N}}

\usepackage{fancyhdr}
\pagestyle{fancy}

\lhead{ {{Buc_author}}\\(ID {{template.studentid}}) }
\chead{ {{template.course}}, {{template.semester}} }
\rhead{Homework 3}
\cfoot{Page \thepage}

\author{ {{Buc_author}}\\ {{template.studentid}} \quad {{template.upi}}\\{{template.course}} }
\date{Due on {{template.duedate}} }
\title{Homework {{template.asstno}} }

\begin{document}

\maketitle

{{{content}}}

\end{document}
