\documentclass{article}

\usepackage{amsthm}
\usepackage{amssymb}
\usepackage[utf8]{inputenc}
\usepackage{lmodern}
\usepackage{fontspec}
\usepackage{microtype}

% \usepackage[parfill]{parskip}
\usepackage[dvipsnames]{xcolor}
\usepackage{amsmath}
\usepackage{amsfonts}
\usepackage{siunitx}
\DeclareSIUnit\year{yr}
\DeclareSIUnit\foot{ft}
\DeclareSIUnit\litre{\liter}

\usepackage{lastpage}

\usepackage{pgfplots}
\usepackage{graphicx}
\usepackage{gensymb}
\usepackage{commath}
\usepackage{hyperref}
\usepackage{enumitem}
\usepackage{wasysym}
\usepackage{multicol}
\usepackage{mathtools}
\usepackage[version=4]{mhchem}
\usepackage{listings}
\lstset{basicstyle=\ttfamily\linespread{0.8}\small}

\renewcommand*{\thefootnote}{\fnsymbol{footnote}}


\newcommand{\union}{\cup}
\newcommand{\inter}{\cap}
\DeclarePairedDelimiter\aabs{\lVert}{\rVert}%
\newcommand{\R}{\mathbb{R}}
\newcommand{\Z}{\mathbb{Z}}
\newcommand{\Q}{\mathbb{Q}}
\newcommand{\N}{\mathbb{N}}

\DeclareMathOperator{\cl}{cl}
\DeclareMathOperator{\diam}{diam}
\DeclareMathOperator{\ord}{ord}
\DeclareMathOperator{\lcm}{lcm}

% russian integral
\usepackage{scalerel}
\DeclareMathOperator*{\rint}{\scalerel*{\rotatebox{17}{$\!\int\!$}}{\int}}

\DeclarePairedDelimiter\floor{\lfloor}{\rfloor}

\newtheorem{thm}{Theorem}
\newtheorem{iden}[thm]{Identity}
\newtheorem{lemma}[thm]{Lemma}
\newtheorem{prp}[thm]{Proposition}
\newtheorem{obs}[thm]{Observation}
\newtheorem{claim}[thm]{Claim}
\newtheorem*{thm*}{Theorem}
\newtheorem*{iden*}{Identity}
\newtheorem*{lemma*}{Lemma}
\newtheorem*{prp*}{Proposition}
\newtheorem*{obs*}{Observation}
\newtheorem*{claim*}{Claim}
\theoremstyle{definition}
\newtheorem{defn}[thm]{Definition}
\newtheorem{ex}[thm]{Example}
\newtheorem{con}[thm]{Construction}
\newtheorem{alg}[thm]{Algorithm}
\newtheorem{exercise}[thm]{Exercise}
\newtheorem*{defn*}{Definition}
\newtheorem*{ex*}{Example}
\newtheorem*{con*}{Construction}
\newtheorem*{alg*}{Algorithm}
\newtheorem*{exercise*}{Exercise}

\usepackage{fancyhdr}
\pagestyle{fancy}
\lhead{ {{ts_year}}/{{ts_month}}/{{ts_day}} }
\chead{ {{Buc_name}} }
\rhead{ {{Buc_author}} }

\cfoot{Page \thepage \hspace{1pt} of \pageref{LastPage}}

\begin{document}
\section*{ {{Buc_title}} }
{{{content}}}
\end{document}
